*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


// COMMON CLASSES ================================

.center{
    display: flex;
    justify-content: center;
}

.inner{
    width: 80vw;
}


//END OF COMMON CLASSES - - - - - - - - - - - - -


.pageBorder{
    width: 100%;
    position: absolute;
    bottom: -1px;
}


.page{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background: #f8f8ff;
}



//ANIMATIONS



